@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #111;
}

.navbar {
    background-color: #111 !important;
}

.btn-primary {
    background-color: #111;
    border-color: #111;
}
#content {
    padding: 20px;
}
#cartItems {
    list-style: none;
    padding: 0;
}

.stats-list {
    list-style: none;
    padding: 0;
}

.stats-list li {
    margin-bottom: 5px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}
